---
title: Blog
layout: base
permalink: /blog/
---


<section class="our-work blog">
  <div class="thdc-grid">
    <div class="thdc-width-one-whole">
      <h2>Our blog</h2>
      <p class="page-width-70">
        Read about our work, our team, some of our most recent accomplishments and beautiful stories we've read on the Internet.
      </p>
    </div>
  </div>
  {% assign summaries = site.blog_summaries | sort: 'date' | reverse %}
  {% assign num_columns = 3 %}
  {% assign num_stories = 6 %}

  {% for entry in summaries limit: num_stories %}
    {% assign index_mod = forloop.index0 | modulo:num_columns %}
    {% if index_mod == 0 %}
      {% if forloop.index0 > 0 %}
        </div>
      {% endif %}
      <div class="thdc-grid">
    {% endif %}
      <div class="thdc-width-one-third story blog-item">
        <a href="{{ entry.medium_url }}">
          <div class="blog-image" style="background-image:url({{ entry.image_url}})" title="{{entry.image_description}}"></div>
        </a>
        <h3><a href="{{ entry.medium_url}}">{{ entry.title }}</a></h3>
        {{ entry.content }}
        <p><a class="read-more" title="Read More"><a href="{{ entry.medium_url}}">Read more...</a></p>
      </div>
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
<div class="thdc-grid">
  <a href="{{ site.medium_url }}">
    <button>
      Read more on Medium
    </button>
  </a>
</div>
</section>
