---
title: Events (Activities & Programs)
layout: base
permalink: /events/
---

<div class="thdc-grid">
  <div class="thdc-whole-page">
    <h1>Events</h1>

    {% assign posts = site.posts | where: "status", "upcoming" %}
    {% if posts != empty %}
        <h3>Upcoming events</h3>
        <ul class="thdc-unstyled-list">
            {% for post in posts reversed %}
            <li>
                <h2>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                {{ post.excerpt }}
                <ul class="location">
                    {% if post.eventDate %}
                    <li>
                        <strong>Date:</strong> {{ post.eventDate }}
                    </li>
                    {% endif %}
                    {% if post.time %}
                    <li>
                        <strong>Time:</strong> {{ post.time }}
                    </li>
                    {% endif %}
                    {% if post.location %}
                    <li>
                        <strong>Location:</strong> {{ post.location }}
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>There are no upcoming events</h4>
    {% endif %}

    {% assign pastEvents = site.posts | where: "status", "past" %}
    {% if posts != empty %}
    <h3>Past events</h3>
    <ul class="thdc-unstyled-list">
        {% for post in pastEvents %}
        <li>
            <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h4>There are no past events posted.</h4>
    {% endif %}
  </div>
</div>
