<section class="site-album">
  <div class="album-row">
    <img src="{{ site.baseurl }}/img/timeline/apple.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/discussion.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/environment.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/french.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/greenhouse.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/management.jpg" alt="" />
  </div>
  <div class="album-row">
    <img src="{{ site.baseurl }}/img/timeline/piece.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/field.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/participation.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/seeds.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/office.jpg" alt="" />
    <img src="{{ site.baseurl }}/img/timeline/gate.jpg" alt="" />
  </div>
</section>

<div class="feature-panel">
  <h3><em>Changing lives every day</em></h3>
  <h4>We help adopt modern agriculture techniques, engaging and informing citizens.</h4>
</div>
