<footer class="thdc-footer thdc-background-dark">
  <div class="thdc-grid">
    <nav>
      <div class="thdc-width-one-fourth">
        <h3>About Us</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="{{ '/vision/' | prepend: site.baseurl }}">THDC Vision</a></li>
          <li><a href="{{ '/team/' | prepend: site.baseurl }}">The Team</a></li>
          <li><a href="{{ '/blog/' | prepend: site.baseurl }}">Blog/Notice</a></li>
		  <li><a href="{{ '/events/' | prepend: site.baseurl }}">Events (Activities & Programs)</a></li>
		  <li><a href="{{ site.baseurl }}/downloads/citizen-charter.pdf">Citizen Charter</a></li>
		  <li><a href="{{ '/publication/' | prepend: site.baseurl }}">Publication</a></li>
		  <li><a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a></li>
        </ul>
		<h3>Social</h3>
		<ul class="thdc-unstyled-list">
		  <a href="https://twitter.com/THDCMustang" target="_blank"><i class="fa fa-lg fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>&nbsp;&nbsp;&nbsp;
          <a href="https://medium.com/@THDCMustang" target="_blank"><i class="fa fa-lg fa-medium" aria-hidden="true" title="Medium"></i><span class="sr-only">Medium</span></a>&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/THDCMustang" target="_blank"><i class="fa fa-lg fa-github" aria-hidden="true" title="Github"></i><span class="sr-only">Github</span></a>&nbsp;&nbsp;&nbsp;
      </div>
	  <div class="thdc-width-one-third">
	    <h3>Resources</h3>
		<ul class="thdc-unstyled-list">
		  <li><a href="http://nepal.gov.np/" target="_blank">Nepal Government Portal</a></li>
		  <li><a href="http://moad.gov.np/" target="_blank">Ministry of Agriculture</a></li>
		  <li><a href="http://fdd.gov.np/" target="_blank">Fruit Development Directorate</a></li>
		  <li><a href="http://doanepal.gov.np/" target="_blank">Department of Agriculture</a></li>
		  <li><a href="{{ '/faq' | prepend: site.baseurl }}">Frequently Asked Questions (FAQs)</a></li>
		</uL>
	    <h3>Open Source</h3>
        <ul class="thdc-unstyled-list">
          <li><a href="https://github.com/THDCMustang">Contribute to THDC Open Technology</a></li>
          <li><a href="https://github.com/THDCMustang/thdcmustang.github.io">Edit this site</a></li>
          <li><a href="https://github.com/THDCMustang/thdcmustang.github.io/issues">Send us website feedback</a></li>
        </ul>
	  </div>
      <div class="thdc-width-one-third">
        <h3>Contact Us</h3>
		  <address>
			Temperate Horticulture Development Center (THDC)<br>
			Marpha, Mustang<br>
			NEPAL<br><br>
			Phone: +977 (069) 400034<br>
		  </address>
        <ul class="thdc-unstyled-list">
          <li><a href="https://docs.google.com/forms/u/0/d/1p69fSCzbjk2Et6L1OSFMp1LAtdzAUvPfGG6EwgDYgaM" target="_blank">Ask us a question</a></li>
		</ul>
      </div>
      <div class="thdc-footer-logo thdc-width-one-fourth">
        <div class="ng-built-by">
          <p><small>Supported by</small></p>
          <p><img src="{{ site.baseurl }}/img/ng_logo.svg" alt="Nepal Goverment Logo" class="ng-logo"></p>
        </div>
      </div>
    </nav>
  </div>
</footer>
